---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
	<main class="bg-black">
		hola
		<div>
			<nav>
				<a href="">a</a><a href="">e </a>i<a href=""></a>o<a href="">u</a>
			</nav>
		</div>
	</main>
</Layout>
