---
import Layout from "../layouts/Layout.astro";
import Encriptar from "../components/Encriptar.astro";
import Message from "../components/Message.astro";
import Logo from "../components/Logo.astro"
---

<Layout title="Examen encriptador.">
	<div class="relative w-screen h-screen bg-[#f3f5fc]">
		<Logo></Logo>
		<Encriptar title="encriptar"></Encriptar>
		<Message></Message>
	</div>
</Layout>
